             /*search results container */
        .gcse-searchresults {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        /*search result items */
        .gsc-webResult {
            width: calc(50% - 10px);
        }